body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1{
    text-align: center;
    color: darkblue;
}

h2{
    color: green;
}

h3{
    color: brown;
}

p{
    background: white;
    padding: 10px;
    border-radius: 5px;
}
